  {{> header}}
  
  <!-- Details -->
  <section class="details">
    <div class="detail">
      <h1>Title: {{event.title}}</h1>
      <h2>Category: {{event.category}}</h2>
      <h3>Content: {{event.content}}</h3>
      <a href="#/home">Back to Home</a>
    </div>
  </section>

   {{> footer}}